body{
 background-color: black 
}
.words{
  padding: 20px;
  font-size: 1.4em;
  font-family: Monospace;
}

.box{
  border-radius: 3px;
  position: relative;
  margin: 8% auto;
  width: 800px;
  height: 250px;
  background-color: white;
}
.button{
  border:none;      
  border-radius:3px;
  padding: 8px 18px 6px 18px;
  cursor: pointer;
  outline: none;
  color: white;
}

